<% title t "clients" %>
<% icon_title "users" %>
<% sub_title t "layout.titles.new" %>
<% go_back_link clients_path %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'form' %>
  </div>
</div>