<% title t "clients" %>
<% icon_title "users" %>
<% sub_title t "form.titles.new" %>
<% go_back_link clients_path %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'formpersonclient', :locals => {@person => @person} %>
  </div>
</div>