<% title t "models" %>
<% icon_title "archive" %>
<% sub_title "#{t "layout.titles.edit"} # #{@model.id.to_s}" %>
<% go_back_link models_path %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'form' %>
  </div>
</div>