<% title "Vehicles" %>
<% icon_title "car" %>
<% sub_title "Edit#" + @vehicle.id.to_s %>
<% go_back_link vehicles_path %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'form' %>
  </div>
</div>
