<% title t "cam_locations" %>
<% icon_title "video-camera" %>
<% sub_title t "layout.titles.new" %>
<% go_back_link cam_locations_path %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'form' %>
  </div>
</div>