<div class="modal fade" id="modal_new_model" tabindex="-1" role="dialog" aria-labelledby="modal_new_model" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create New Model</h4>
      </div>
      <div class="modal-body">
        <div class="grid simple">
          <div class="grid-title no-border">
            <h4>Model's <span class="semi-bold">Details</span></h4>
            <div class="tools">
              <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
              <a href="javascript:;" class="reload" data-original-title="" title=""></a>
            </div>
          </div>
          <div class="grid-body no-border">
            <br>

            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissable error_registration_message_models" style="display:none">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong id="error_registration_message_text_models"></strong>
                </div>
                <div class="alert alert-success alert-dismissable success_registration_message_models" style="display:none">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong id="success_registration_message_text_models"></strong> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form id="new_model_vehicles" novalidate="novalidate" role="form">

                  <div class="form-group">
                    <label class="form-label" for="model_brand_id">Brand</label>
                    <div class="input-with-icon  right error-control">
                      <i class="fa-exclamation fa"></i>
                      <%= collection_select(
  :model,
  :brand_id,
  Brand.all(:include => :models),
  :id,
  :name,
  {:prompt => "Select the Brand"},
  {:class => "form-control",:required => true}
  ) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="model_name">Name</label>
                    <div class="input-with-icon  right error-control">
                      <i class="fa-exclamation fa"></i>
                      <input class="form-control" id="model_name" name="model[name]" required="required" type="text">
                    </div>
                  </div>

                  <div class="form-actions">
                    <div class="pull-right">
                      <input class="btn btn-primary btn-cons" name="commit" type="submit" value="Save">
                    </div>
                  </div>
                </form> 
              </div>
            </div>   
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>