<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
      <% render "form", :locals => { @identity => Identity.new } %>
    </div>
  </div>
</div>